<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17576336850-ioi3ho7mt2b1fk5h190j1cnr9rcevtr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17576336850-ioi3ho7mt2b1fk5h190j1cnr9rcevtr7</string>
	<key>API_KEY</key>
	<string>AIzaSyDR2Evm3utTvGaZ6N6Ga8zY9JhNN4arFOI</string>
	<key>GCM_SENDER_ID</key>
	<string>17576336850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trimer.vitor.InstagramFirestore</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestore-4bef5</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestore-4bef5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17576336850:ios:f538605e2888ead49afc0b</string>
</dict>
</plist>